# Run some tests

This notebook is for sketch purpose.

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

print "Load modules successfully!"

Load modules successfully!

## Test 1

Generate a dataframe as following.

In [8]:
df = pd.DataFrame({'col1':[2,30,0,0,0,0,1], 'col2':[25,0,0,0,5,0,5], 'col3':[0,0,9,70,0,8,0]})
df.index = ['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06', '2018-01-07']
print df

            col1  col2  col3
2018-01-01     2    25     0
2018-01-02    30     0     0
2018-01-03     0     0     9
2018-01-04     0     0    70
2018-01-05     0     5     0
2018-01-06     0     0     8
2018-01-07     1     5     0

In this test, we try to figure how to sort a dataframe, and select partial of it. For example, we sort above dataframe, and select the second lowest of each row and change it to zero.

In [9]:
df.sort_index()

            col1  col2  col3
2018-01-01     2    25     0
2018-01-02    30     0     0
2018-01-03     0     0     9
2018-01-04     0     0    70
2018-01-05     0     5     0
2018-01-06     0     0     8
2018-01-07     1     5     0

In [25]:
tempdf = df
idx = df.index
for i in xrange(len(idx)):
    temp_idx = idx[i]
    temp_row = df.loc[temp_idx]
    temp_row.sort_values()
    sorted_nonzero_row = temp_row.iloc[temp_row.nonzero()[0]] # get values of all nonzero elements
    if len(sorted_nonzero_row) > 1:
        for x in temp_row:
            if x > sorted_nonzero_row[0]:
                tempdf = tempdf.replace(x, 0)
                print tempdf

            col1  col2  col3
2018-01-01     2     0     0
2018-01-02    30     0     0
2018-01-03     0     0     9
2018-01-04     0     0    70
2018-01-05     0     5     0
2018-01-06     0     0     8
2018-01-07     1     5     0
Index([u'col1', u'col2'], dtype='object')
2018-01-01
            col1  col2  col3
2018-01-01     2     0     0
2018-01-02    30     0     0
2018-01-03     0     0     9
2018-01-04     0     0    70
2018-01-05     0     0     0
2018-01-06     0     0     8
2018-01-07     1     0     0
Index([u'col1', u'col2'], dtype='object')
2018-01-07